<body class="index">
  <div id="welcome">

    <header>
      <h1>Are you in need of an <strong>escape</strong>?</h1>
    </header>
    <h2>You've come to the right place! Just choose:</h2>

    <div id="citypath">
      <h1>Know where you're going?</h1>
      <h2><%= link_to 'Search destination City!', new_trip_path %></h2>
    </div>

    <div id="dealspath">
      <h1>Not Picky, and love a deal?</h1>
      <h2><%= link_to 'Show me the deals!', deals_path %></h2>
    </div>

  <div>
</body>
